.details{
    display:inline-block;
    background-color: cadetblue;
    width: 25vw;
    height:100rem;
    padding: 1rem;
    border-radius: 1rem;
}

.about{
    padding: 1rem;
    display:inline-block;
    width: 65vw;
    height: 100rem;
    vertical-align: top;
}

body{
    background-color: antiquewhite;
}