.details{
    display:inline-block;
    background-color: cadetblue;
    width: 30vw;
    height:max-content;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

.about{
    padding: 1rem;
    display:inline-block;
    width: 60vw;
    height: max-content;
    vertical-align: top;
    font-size: 2rem;
}

body{
    background-color: burlywood;
}

article{
    background-color: bisque;
    padding: 1rem;
    border-radius: 1rem;
}

hr{
    visibility: hidden;
}

abbr{
    text-decoration: none;
}

.title{
    background-color: bisque;
    border-radius: 1rem;
}